<?xml version="1.0"?>
<launch>
    <arg name="bag_path" default="$(env HOME)/bagfiles"/>
    <arg name="bag_name" default="2023-12-06-18-54-21"/>
    <!-- Load Params from YAML -->
    <rosparam command="load" file="$(find tension_calibration)/config/calibration_params.yaml"/>
    <!-- Tension Calibrator Planner -->
    <node name="tension_calibrator" pkg="tension_calibration" type="tension_calibrator.py" output="screen" required="true"/>
    <!-- Current Bag -->
    <node pkg="rosbag" type="play" name="player" args="--clock $(arg bag_path)/$(arg bag_name).bag --topic /proboscis/read_currents" required="true"/>
</launch>