<?xml version="1.0"?>
<launch>
    <!-- Load Params from YAML -->
    <rosparam command="load" file="$(find tension_calibration)/config/calibration_params.yaml"/>
    <!-- Tension Calibrator Planner -->
    <node name="tension_calibrator" pkg="tension_calibration" type="tension_calibrator.py"/>
</launch>